<a href="https://colab.research.google.com/github/youngjin030224/a-new-technology-survey/blob/master/Python%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##선택문 10문제

In [7]:
##홀수 짝수 구분하기
number = int(input("정수를 입력하세요 : "))
if(number % 2 ==0 ) :
    print("입력한 정수는 짝수입니다")
else :
  print("홀수입니다")

정수를 입력하세요 : 5
홀수입니다

In [10]:
#점수에따른 학점 계산하기
score = int(input("점수를 입력하세요 : "))
if(score > 90) :
  print("A학점")
elif(score > 80) :
  print("B학점")
elif(score > 70) :
  print("C학점")
elif(score > 60) :
  print("D학점")
else:
  print("F학점")

점수를 입력하세요 : 61
D학점

In [33]:
#세가지 숫자중 최대값 찾기
x,y,z = map(int,input("3가지 정수를 입력하세요 : ").split())
if( x < y):
  if (z < y):
    print("제일 큰값은",y)
  elif(x < z):
    print("제일 큰값은",z)
  else :
    print("제일 큰 값은", x)
else :
  print("제일 큰 값은",x)

3가지 정수를 입력하세요 : 1 3 5
제일 큰값은 5

In [39]:
#윤년 확인(조건 : 4로 나누어지면 윤녕, 100으로 나누어지면 윤년이아니고, 400으로 나누어지면 윤년)
num = int(input( "년도를 입력하세요 : "))
if(num % 4 == 0 and num % 100 != 0 or num % 400 == 0):
  print("윤년입니다.")
else :
  print("윤년이 아닙니다.")

년도를 입력하세요 : 100
윤년이 아닙니다.

In [46]:
#사용자가 입력한 나이에따라 영화관람 등급 출력
#13세 미만 : G등급         13세 이상 17세 미만 : PG-13         17세 이상 : R등급
age = int(input("나이를 입력하세요 : "))
if(age < 13):
  print("G 등급")
elif(age <= 16):
  print("PG-13")
else :
  print("R 등급")

나이를 입력하세요 : 17
R 등급

In [51]:
#비밀번호확인
#사용자가 입력한 비밀번호가 1234라면 접속성공 아니면 비밀번호 오류라고 출력
pwd = str(input("비밀번호를 입력하세요 : "))
if(pwd == "1234"):
  print("접속 성공")
else:
  print("비밀번호 오류")

비밀번호를 입력하세요 : 1234
접속 성공

In [60]:
#계산기
#두 숫자와 연산자를 입력받으후 결과를 출력하는 프로그램(연산자가 잘못입력되면 연산자 오류로 출력)
x,z,y = map(str,input("정수와 연산자를 입력").split())
x = int(x)
y = int(y)
if(z == "+"):
  print(x + y)
elif(z == "-"):
  print(x - y)
elif(z=="*"):
  print(x*y)
elif(z== "/"):
  print(x / y)
else:
  print("잘못된 연산자")

정수와 연산자를 입력4 7 4
잘못된 연산자

In [68]:
#나이로 출생 연도 추정
#사용자가 나이를 입력하면, 현재 연도를 기준으로 출생연도를 추정하기
name = str(input("이름을 입력하세요 : "))
age = int(input("나이를 입력하세요 : "))
userage = 2026 - age
a = 2025
if (userage < a):
  print(name,"님의 출생년도는 ",userage," 년생 입니다")
else:
  print("나이가 잘못되었습니다")

이름을 입력하세요 : 1111111
나이를 입력하세요 : 544444444
1111111 님의 출생년도는  -544442418  년생 입니다

In [ ]:
#단어길이에따른 출력
#사용자가 입력한 단어가 다섯ㄱㄹ자 이상이면 긴단어입니다 출력 5글자 미만이면 짧은단어입니다 출력
word = input("단어를 입력하세요: ")
if len(word) >= 5:
    print("긴 단어입니다")
else:
    print("짧은 단어입니다")

In [70]:
#사용자가 입력한 문자열이 Python 이면 정확합니다 출력 아니면 틀렸습니다 출력
python = str(input("문자열을 입력하세요(대소문자 구분) : "))
if (python == "Python"):
  print("정확합니다")
else:
  print("틀렸습니다")

문자열을 입력하세요(대소문자 구분) : pthon
틀렸습니다

In [ ]:
#반복문 10문제

In [71]:
#1부터 100까지의 합 구하기
a = 0
for i in range(1, 100):
  a = a + i
print(a)

4950

In [76]:
#구구단 출력
#사용자가 입력한 숫자의 구구단을 출력하기
number = int(input("구구단을 볼 정수를 입력하세요 : "))
num1 = 1
for i in range(1,10):
  print(number," * ",num1," = ",number * num1)
  num1+=1

구구단을 볼 정수를 입력하세요 : 2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

In [79]:
#직각삼각형모양 별찍기
#사용자에게 입력받은 숫자만큼 * 출력하기
star = int(input("별찍을 숫자를 입력하세요 : "))
a = "*"
for i in range(0,star):
  print(a)
  a += "*"

별찍을 숫자를 입력하세요 : 8
*
**
***
****
*****
******
*******
********

In [99]:
#1부터 10까지 제곱출력
x = 0
for i in range(1,11):
  x += i**2
print("1부터 10까지의 제곱은",x)

1부터 10까지의 제곱은 385

In [101]:
#1부터 5까지의 숫자 출력하기
num = 1
for i in range(0,5):
  print(num)
  num += 1

1
2
3
4
5

In [129]:
#1부터 100까지의 숫자중 5의 배수만 출력하기
for i in range(1,101):
  if(i % 5 == 0):
    print(i)

TypeError: 'int' object is not callable

In [126]:
#1부터 100까지의 합구하기(3의 배수만 더하기)
total = 0
for i in range(1,101):
  if(i % 3 == 0):
    total += i

 print(totla)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [128]:
# 1부터 10까지 숫자에 대해 제곱과 세제곱을 출력
for i in range(1, 11):
    print(f"{i}^2 = {i**2}, {i}^3 = {i**3}")

TypeError: 'int' object is not callable

In [130]:
# 1부터 100까지 숫자 중 7의 배수만 출력
for i in range(1, 101):
    if i % 7 == 0:
        print(i)

TypeError: 'int' object is not callable

In [ ]:
for i in range(1, 101):
    if i % 5 == 0 and i % 3 == 0:
        print(i)